body {
    background-color: white;
}
.Mainnav {
    padding: 10px;
    display: inline-block;
    
 }
.Mainnav img{
    margin: 10px;
    padding: 10px;
    height :60px;
    width :90px;
}
.Home,.school,.team,.place,.contact,.about{
    display: inline-block;
    font-weight: bold;
    border: 1px solid white;
    height: 20px;
    width: 60px;
    background-color: white;
    font-family:'Times New Roman', Times, serif;
    font-style:normal;
    font-size: 20px;
    padding: 10px;
    margin: 5px;
}
.navbar {
     display: inline-block; 
    position: absolute;
    left: 400px;
    border-bottom: 2px solid black;

}
.leftimage{
    background-image: url("D:\\Study\\Projects\\Webpage-1\\Images\\img4.jpg");
}